a, a:ACTIVE, a:HOVER, a:FOCUS, .team-color
{
    color: #1B9656;
}

#info-latest-news  .pager-title
{
    background-color: #1B9656;
}

.page-title
{
    text-shadow: 0px 0px 4px #1B9656;
}

.header-bar
{
    background: -webkit-linear-gradient(left,  rgba(27, 150, 86, 0.65) 0%,rgba(27, 150, 86, 0) 100%);
}

.separator
{
    background: linear-gradient(to bottom, rgba(27, 150, 86, 0) 0%, rgba(27, 150, 86, 1) 49%, rgba(27, 150, 86, 0) 100%);
}

#leaderboard thead tr, #info-latest-matchs .buttons
{
    background: rgba(27, 150, 86, 0.08);
}

#leaderboard tbody tr, #info-latest-matchs .viewport
{
    background: rgba(27, 150, 86, 0.03);
}