a, a:ACTIVE, a:HOVER, a:FOCUS, .team-color
{
    color: #A80000;
}

#top-background
{
    background: -webkit-linear-gradient(left, rgba(168, 0, 0, 0.08) 0%, rgba(168, 0, 0, 0.03) 80%, rgba(168, 0, 0, 0) 100%);
}

.header-bar
{
    background: -webkit-linear-gradient(left, rgba(168, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.separator
{
    background: linear-gradient(to bottom, rgba(168, 0, 0, 0) 0%, rgba(168, 0, 0, 1) 49%, rgba(168, 0, 0, 0) 100%);
}

#leaderboard thead tr, #latest-matchs .buttons
{
    background: rgba(168, 0, 0, 0.08);
}

#leaderboard tbody tr, #latest-matchs .viewport
{
    background: rgba(168, 0, 0, 0.02);
}

.button
{
    background: url("/imagens/icons_red_small.png") no-repeat;
}

.button:HOVER
{
    background: url("/imagens/icons_red_focus_small.png") no-repeat;
}