a, a:ACTIVE, a:HOVER, a:FOCUS
{
    color: #A80000;
}

#info-logo
{
    background-image: url("/imagens/nautico.png");
}

.info-title
{
    text-shadow: 0px 0px 10px #A80000;
}

.time-cor
{
    color: #A80000;
}

.info-header-bar
{
    background: -webkit-linear-gradient(left,  rgba(168,0,0,0.65) 0%,rgba(168,0,0,0) 100%);
}