body
{
    width: 350px!important;
    height: 310px!important;
}

p
{
    text-align: center;
    color: #000000;
    font-weight: bolder;
}

#home-logo
{
    width: 350px;
    height: 129px;
    background-image: url('/imagens/cdc.png');
    background-size: 100% 100%;
    margin: 0px 0px 0px 1px;
}

#home-select-bar
{
    width: 340px;
    height: 29px;
    background-image: url('/imagens/select.png');
    background-size: 100% 100%;
    margin: 40px 0px 10px 7px;
}

#home-hint
{
    font-family: QuickExpress;
    font-size: 9pt;
    text-transform: uppercase;
    padding: 7px 0px 7px 0px;
    margin-top: 0px;
}

#home-team-select
{
    height: 70px;
    overflow: hidden;
    padding: 0px;
}

.viewport
{
    float: left;
    width: 184px;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.buttons
{
    display: block;
    float: left;
}

.next
{
    margin: 10px 0px 0px 5px;
}

.prev
{
    margin: 10px 5px 0px 55px;
}

.disabled
{
    cursor: default;
}

.disabled img
{
    opacity: 0.2;
}

.overview
{
    list-style: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
}

.overview li
{
    float: left;
    margin: 0px 21px 0px 66px;
    padding: 1px;
    height: 80px;
    width: 184px;
}

#home-hint
{
    font-family: QuickExpress;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 7px 0px 7px 0px;
    margin: 0px 0px 0px 0px;
}

.shadow-black
{
    text-shadow: 0px 0px 7px #000000!important;
}

.hint
{
    cursor: default!important;
}

.click
{
    cursor: pointer!important;
}

.click:HOVER
{
    font-size: 12pt!important;
    -webkit-transition: font-size 0.2s ease!important;
}