body
{
    width: 350px!important;
    height: 310px!important;
}

p
{
    text-align: center;
    color: #000000;
    font-weight: bolder;
}

#home-logo
{
    width: 350px;
    height: 129px;
    background-image: url('/imagens/cdc.png');
    background-size: 100% 100%;
    margin: 0px 0px 0px 1px;
}

#home-select-bar
{
    width: 340px;
    height: 29px;
    background-image: url('/imagens/select.png');
    background-size: 100% 100%;
    margin: 40px 0px 10px 7px;
}

#home-hint
{
    font-family: QuickExpress;
    font-size: 9pt;
    text-transform: uppercase;
    padding: 7px 0px 7px 0px;
    margin-top: 0px;
}

#home-team-select
{
    height: 70px;
    overflow: hidden;
    padding: 0px;
}

#home-team-select .viewport
{
    float: left;
    width: 184px;
    height: 70px;
    overflow: hidden;
    position: relative;
}

#home-team-select .buttons
{
    display: block;
    float: left;
}

#home-team-select .next
{
    margin: 10px 0px 0px 5px;
}

#home-team-select .prev
{
    margin: 10px 5px 0px 55px;
}

#home-team-select .disable
{
    visibility: hidden;
}

#home-team-select .overview
{
    list-style: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
}

#home-team-select .overview li
{
    float: left;
    margin: 0px 21px 0px 66px;
    padding: 1px;
    height: 80px;
    width: 184px;
}

#home-hint
{
    font-family: QuickExpress;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 7px 0px 7px 0px;
    margin: 0px 0px 0px 0px;
}

#home-hint.hint
{
    cursor: default;
}

#home-hint.click
{
    cursor: pointer;
}

#home-hint.click:HOVER
{
    font-size: 12pt;
    -webkit-transition: font-size 0.2s ease;
}

.hidden
{
    visibility: hidden;
}