body
{
    width: 350px!important;
    height: 310px!important;
}

p
{
    text-align: center;
    color: #000000;
    font-weight: bolder;
}

#home-logo
{
    width: 350px;
    height: 129px;
    background-image: url('/imagens/cdc.png');
    background-size: 100% 100%;
    margin: 0px 0px 0px 1px;
}

#home-select-bar
{
    width: 340px;
    height: 29px;
    background-image: url('/imagens/select.png');
    background-size: 100% 100%;
    margin: 40px 0px 10px 7px;
}

#home-team-select
{
    visibility: visible;
    height: 70px;
    overflow: hidden;
    padding: 0px;
}

.viewport
{
    float: left;
    width: 184px;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.buttons
{
    display: block;
    float: left;
}

.next
{
    margin: 10px 0px 0px 5px;
}

.prev
{
    margin: 10px 5px 0px 55px;
}

.disabled
{
    cursor: default;
}

.disabled img
{
    opacity: 0.2;
}

.overview
{
    list-style: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
}

.overview li
{
    float: left;
    margin: 0px 21px 0px 69px;
    padding: 1px;
    height: 80px;
    width: 184px;
    padding-left: 0.11em;
}

#home-hint
{
    font-family: QuickExpress;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 7px 0px 7px 0px;
    margin: 0px 0px 0px 0px;
}

.error
{
    font-family: "Ebrima"!important;
    font-size: 8pt!important;
    font-weight: bold!important;
    color: #C80000!important;
    text-transform: none!important;
}

.hidden
{
    visibility: hidden!important;
}

.hint
{
    cursor: default!important;
}

.click
{
    cursor: pointer!important;
}

.click:HOVER
{
    font-size: 12pt!important;
    -webkit-transition: font-size 0.2s ease!important;
}

.atletico-mg, .botafogo, .corinthians, .criciuma, .ponte-preta, .santos, .vasco
{
    color: #000000;
    text-shadow: 0px 0px 5px #000000;
}

.atletico-pr, .flamengo, .fluminense, .internacional, .nautico, .portuguesa, .sao-paulo, .vitoria
{
    color: #A80000;
    text-shadow: 0px 0px 5px #A80000;
}

.bahia, .cruzeiro, .gremio
{
    color: #0099CC;
    text-shadow: 0px 0px 5px #0099CC;
}

.coritiba, .goias
{
    color: #1B9656;
    text-shadow: 0px 0px 5px #1B9656;
}