body
{
    width: 450px!important;
    height: 580px!important;
}

a, a:ACTIVE, a:HOVER, a:FOCUS
{
    font-family: "Ebrima";
    font-size: 8pt;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

img
{
    width:100%;
    height: auto;
}

#info-main
{
    padding:10px 0px 0px 0px;
}

#info-top
{
    border-bottom: 1px solid rgb(112, 112, 112);
    width: 450px;
    height: 58px;
    margin-bottom: -10px;
}

#info-logo
{
    background-image: url("/imagens/logo.png");
    background-repeat: no-repeat;
    height: 55px;
    width: 114px;
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
}

#team-streamer
{
    background-image: url("/imagens/brasil.png");
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    float:right;
    position: absolute;
    left: 135px;
    top: 20px;
}

#team-leader
{
    display: none;
    background-image: url("/imagens/lider.png");
    position: absolute;
    background-repeat: no-repeat;
    width: 40px;
    height: 34px;
    float: left;
    margin: -18px 0px 0px 7px;
    overflow: hidden;
    z-index: 2;
}

#team-leader:HOVER
{
    overflow: visible;
}

#team-leader span
{
    position: absolute;
    width: 100px;
    height: auto;
    font-family: "QuickExpress";
    font-size: 8pt;
    left: 42px;
    top: 10px;
    color: goldenrod;
}

#info-links
{
    width: 450px;
    height: 55px;
    line-height: 15px;
    float: right;
    position: absolute;
    margin: -8px 0px 0px 0px;
    text-align: right;
    text-transform: lowercase;
}

#info-content
{
    width:450px;
    margin: 20px 0px 0px 0px;
}

.page-title
{
    color: #000000;
    text-shadow: 0px 0px 7px #000000;
    font-family: "QuickExpress";
    font-size: 15pt;
    text-align: left;
    text-transform:uppercase;
    margin: -40px 0px 0px 180px;
}

.header-title
{
    color: #000000;
    font-family: "QuickExpress";
    font-size: 8pt;
    text-align: left;
}

.header-bar
{
    width: 450px;
    height:1px;
    margin:-3px 0px 9px 0px;
    background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0.65) 0%,rgba(0, 0, 0, 0) 100%);
}

.text-bold
{
    color: #666666;
    font-family: "Ebrima";
    font-size: 8pt;
    font-weight: bold;
    line-height: 10pt;
}

#info-latest-news
{
    overflow:hidden;
    width:450px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#info-latest-news .viewport
{
    float: left;
    width: 330px;
    height: 199px;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 3px;
}

.overview
{
    list-style: none;
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#info-latest-news .overview-item
{
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: auto;
    width: 330px;
}

#info-latest-news .pager
{
    list-style: none;
    float: right;
    width: 100px;
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#info-latest-news .pager-item
{
    width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}

#info-latest-news .pager div.pager-item:HOVER
{
    overflow: visible;
    position: relative;
}

#info-latest-news .pager div.pager-mask
{
    width: 100px;
    height: 63px;
    position: absolute;
    float: right;
    z-index: 1;
}

#info-latest-news .pager div.pager-mask:HOVER
{
    -webkit-border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.2)), color-stop(1%,rgba(0, 0, 0, 0.2)), color-stop(100%,rgba(0, 0, 0, 0.2)));
}

#info-latest-news .pager-title
{
    font-size: 7pt;
    font-family: "Ebrima";
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    background-color: #000000;
    padding: 0px 0px 2px 0px;
    text-align: center;
    bottom: 5px;
    text-transform: uppercase;
    border-radius: 0px 0px 3px 3px;
    z-index: 2;
}

#info-latest-news .pager-ativo
{
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 5px 0px 0px 85px;
    float: right;
    z-index: 2;
}

#info-latest-news .pager-seta
{
    width: 10px;
    height: 15px;
    position: absolute;
    margin: 25px 0px 0px -15px;
    position: absolute;
}

#info-latest-news .pager-link img
{
    -webkit-border-radius: 3px;
}

#info-latest-news .highlight
{
    text-shadow: 1px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    width: 320px;
    height: auto;
    position: absolute;
    color: #FFFFFF;
    font-family: "Ebrima";
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

#info-latest-news .sub-text
{
    text-shadow: 1px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    overflow: hidden;
    width: 320px;
    height: 28px;
    position: absolute;
    color: #FFFFFF;
    font-family: "Ebrima";
    font-size: 8pt;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    margin: -45px 0px 0px 0px;
}

.separator
{
    width: 1px;
    height: 190px;
    float: right;
    position: absolute;
    left: 347px;
    margin-top: 6px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 49%,rgba(0, 0, 0, 0) 100%);
}

#leaderboard
{
    font-family: "Ebrima";
    line-height: 14pt;
    width: 450px;
    height: auto;
    padding: 0px 0px 0px 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

#leaderboard thead tr
{
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    line-heigth: 18px;
    border: 2px solid #FFFFFF;
}

#leaderboard tbody tr
{
    font-size: 8pt;
    text-align: center;
    border: 2px solid #FFFFFF;
}

#leaderboard .empty-head
{
    border-radius: 6px 0px 0px 6px;
}

#leaderboard .ranking
{
    font-weight: bold;
    width: 22px;
    border-radius: 6px 0px 0px 6px;
}

#leaderboard .name
{
    width:auto;
    text-align: left;
}

#leaderboard .score
{
    width:20px;
    font-weight: bold;
}
#leaderboard .match
{
    width:20px;
    font-weight: bold;
}

#leaderboard .win
{
    width:20px;
    font-weight: bold;
}

#leaderboard .draw, #leaderboard .defeat
{
    width:20px;
}

#leaderboard .goals-pro, #leaderboard .goals-difference, #leaderboard .goals-agin
{
    width:24px;
}

#leaderboard .productivity
{
    width:30px;
    font-weight: bold;
    border-radius: 0px 6px 6px 0px;
}

.libertadores
{
    color: #003394;
}

.neutro
{
    color: #A8A8A8;
}

.rebaixado
{
    color: #A80000;
}

#hint-libertadores
{
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 6px 0px 0px 0px;
    background-color: #003394;
}

#hint-rebaixamento
{
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 6px 0px 0px 0px;
    background-color: #A80000;
}

.hint-text-group
{
    width: auto;
    height: 10px;
    font-family: "Ebrima";
    font-size: 8pt;
    margin: 0px 10px 0px 20px;
}

.display-block
{
    display: block!important;
}

.display-none
{
    display: none;
}
.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

#info-home
{
    width: 24px;
    height: 24px;
    float: right;
    position: absolute;
    margin: 13px 0px 0px 263px
}

.text-score
{
    color: #A8A8A8;
    font-family: "Ebrima";
    font-size: 12pt;
    display: none;
}

#home-score
{
    float: right;
    position: absolute;
    margin: 13px 0px 0px 292px
}

#visitants-score
{
    float: right;
    position: absolute;
    margin: 13px 0px 0px 342px
}

#info-versus
{
    width: 20px;
    height: 15px;
    float: right;
    background-image: url("/imagens/versus.png");
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    position: absolute;
    margin: 17px 0px 0px 312px;
}

#info-visitants
{
    width: 24px;
    height: 24px;
    float: right;
    position: absolute;
    margin: 13px 0px 0px 355px;
}

#info-latest-matchs
{
    height: auto;
    overflow:hidden;
}

#info-latest-matchs .viewport
{
    float: left;
    width: 410px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background: rgba(30, 87, 153, 0.03);
    border-radius: 3px;
}

#info-latest-matchs .buttons
{
    display: block;
    float: left;
    position: relative;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    height: 50px;
    width: 16px;
    background: rgba(30, 87, 153, 0.08);
    border-radius: 3px;
    padding: 0px 0px 0px;
}

.arrow
{
    display: block;
    width: 14px;
    text-align: center;
    margin-top: 16px;
}

#info-latest-matchs .disabled
{
    opacity: 0.5;
    cursor: default;
}

#info-latest-matchs .overview-item
{
    float: left;
    padding: 0px 0px 0px 5px;
    height: 50px;
    width: 405px;
}