#info-main
{
	width: 450px;
	height: auto;
	padding: 10px 2px 2px 5px;
	height: 100%;
}

#info-top
{
	border-bottom: 1px solid rgb(112, 112, 112);
	width: 448px;
	height: 60px;
}

#info-logo
{
	background-image: url("/imagens/brasil.png");
	background-repeat: no-repeat;
	width: 55px;
	height: 55px;
}

#info-lider
{
    background-image: url("/imagens/lider.png");
    position: absolute;
    background-repeat: no-repeat;
    width: 70px;
    height: 34px;
    float: left;
    margin: -18px 0px 0px 7px;
}

.info-title
{
    color: #000000;
    font-family: "QuickExpress";
    font-size: 15pt;
    text-align: left;
    text-transform:uppercase;
    margin: -40px 0px 0px 60px;
}

#info-links
{
	width: 448px;
	height: 55px;
	line-height: 15px;
	float: right;
	position: absolute;
	margin: -18px 0px 0px 0px;
	text-align: right;
}

a, a:ACTIVE, a:HOVER, a:FOCUS
{
	font-family: "Ebrima";
	font-size: 8pt;
	font-weight: bolder;
	text-decoration: none;
	cursor: pointer;
}

#info-content
{
    width:450px;
    margin: 20px 0px 0px 0px;
}

.info-header
{
	width: 450px;
}

.info-header-title
{
    color: #000000;
    font-family: "QuickExpress";
    font-size: 8pt;
    text-align: left;
}

.info-header-bar
{
	width: 450px;
	height:1px;
	margin:-3px 0px 9px 0px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

#info-proximo-jogo
{
    width: 450px;
    height: auto;
    margin: 0px 0px 0px 0px;
}

.info-texto-negrito
{
    color: #666666;
    font-family: "Ebrima";
    font-size: 7.5pt;
    font-weight: bold;
    text-align: left;
    line-height: 10pt;
    text-align: left;
    margin: 0px 0px 0px 0px;
}

#info-casa
{
	width: 24px;
	height: 24px;
	float: right;
	position: absolute;
	margin: 0px 0px 0px 280px;
}

#info-casa img
{
    width: 100%;
    height: auto;
}

#info-confronto
{
	width: 24px;
	height: 24px;
	float: right;
	background-image: url("/imagens/vs.png");
	background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	position: absolute;
	margin: 1px 0px 0px 310px;
}

#info-confronto img
{
    width: 100%;
    height: auto;
}

#info-fora
{
	width: 24px;
	height: 24px;
	float: right;
	position: absolute;
	margin: 0px 0px 0px 340px;
}

#info-fora img
{
    width: 100%;
    height: auto;
}
