@font-face
{
    font-family: QuickExpress;
    src: url("/estilo/fonts/QuickExpress.ttf");
}

@font-face
{
    font-family: ContinuumMedium;
    src: url("/estilo/fonts/ContinuumMedium.ttf");
}

@font-face
{
    font-family: SansationBold;
    src: url("/estilo/fonts/SansationBold.ttf");
}

@font-face
{
    font-family: EASportsCoversSC;
    src: url("/estilo/fonts/EASports.ttf");
}

.loading
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: #FFFFFF;
    top: 0px;
    left: 0px;
}

.loading img
{
    width: 16px;
    height: 16px;
    top: 47%;
    left: 47%;
    position: relative;
}