@font-face
{
    font-family: QuickExpress;
    src: url("/estilo/fonts/QuickExpressWIN.ttf");
}

@font-face
{
    font-family: Ebrima;
    src: url("/estilo/fonts/EbrimaWIN.ttf");
}

.loading
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: #FFFFFF;
    top: 0px;
    left: 0px;
}

.loading img
{
    width: 16px;
    height: 16px;
    top: 47%;
    left: 47%;
    position: relative;
}