@font-face
{
    font-family: QuickExpress;
    src: url("fonts/QuickExpress.ttf");
}

@font-face
{
    font-family: "Ebrima";
    src: url("fonts/Ebrima.ttf");
}

@font-face
{
    font-family: "EbrimaBold";
    src: url("fonts/Ebrimabd.ttf");
}